index {
	background-color: #3f3f3f;
	background-image: url(%gtrepo%://linear-grad/gradiente-bonita.css?=90degrees);
}

nav_var {
	background-color: gratyeed_blue;
	height: 25px;
}

/* 
Embeded
*/

